<% if(success && success.length ) { %>
    <div class="alert alert-success alert-dismissible fade show w-fit-content" style="width:auto; position: absolute; right: 0; z-index: 1;" role="alert">
        <%= success %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>

<% if(error && error.length ) { %>
  <div class="alert alert-danger alert-dismissible fade show w-fit-content" style="margin:auto; position: absolute; right: 0; z-index: 1;" role="alert">
      <%= error %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>